<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrg.ixd.dao.FlowerMapper">
  <resultMap id="BaseResultMap" type="com.zrg.ixd.bean.Flower">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="ftid" jdbcType="INTEGER" property="ftid" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="fdetil" jdbcType="VARCHAR" property="fdetil" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="creatdate" jdbcType="DATE" property="creatdate" />
    <result column="fimg" jdbcType="VARCHAR" property="fimg" />
    <result column="fstate" jdbcType="INTEGER" property="fstate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fid, ftid, fname, fdetil, count, price, color, creatdate, fimg, fstate
  </sql>
  
  <select id="selectByExample" parameterType="com.zrg.ixd.bean.FlowerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from flower
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from flower
    where fid = #{fid,jdbcType=INTEGER}
  </select>
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from flower
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zrg.ixd.bean.FlowerExample">
    delete from flower
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zrg.ixd.bean.Flower">
    insert into flower (fid, ftid, fname, 
      fdetil, count, price, 
      color, creatdate, fimg, 
      fstate)
    values (#{fid,jdbcType=INTEGER}, #{ftid,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, 
      #{fdetil,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, 
      #{color,jdbcType=VARCHAR}, #{creatdate,jdbcType=DATE}, #{fimg,jdbcType=VARCHAR}, 
      #{fstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zrg.ixd.bean.Flower">
    insert into flower
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="ftid != null">
        ftid,
      </if>
      <if test="fname != null">
        fname,
      </if>
      <if test="fdetil != null">
        fdetil,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="creatdate != null">
        creatdate,
      </if>
      <if test="fimg != null">
        fimg,
      </if>
      <if test="fstate != null">
        fstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="ftid != null">
        #{ftid,jdbcType=INTEGER},
      </if>
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fdetil != null">
        #{fdetil,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null">
        #{creatdate,jdbcType=DATE},
      </if>
      <if test="fimg != null">
        #{fimg,jdbcType=VARCHAR},
      </if>
      <if test="fstate != null">
        #{fstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
 
 
  <select id="countByExample" parameterType="com.zrg.ixd.bean.FlowerExample" resultType="java.lang.Long">
    select count(*) from flower
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
   
  </select>

  <!-- -排序的查询  -->
  <select id="selectWithPX" parameterType="com.zrg.ixd.bean.FlowerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from flower
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
     <if test="lim != 0">
     limit ${lim}
    </if>
    
  </select>
  
  
  <update id="updateByExampleSelective" parameterType="map">
    update flower
    <set>
      <if test="record.fid != null">
        fid = #{record.fid,jdbcType=INTEGER},
      </if>
      <if test="record.ftid != null">
        ftid = #{record.ftid,jdbcType=INTEGER},
      </if>
      <if test="record.fname != null">
        fname = #{record.fname,jdbcType=VARCHAR},
      </if>
      <if test="record.fdetil != null">
        fdetil = #{record.fdetil,jdbcType=VARCHAR},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.creatdate != null">
        creatdate = #{record.creatdate,jdbcType=DATE},
      </if>
      <if test="record.fimg != null">
        fimg = #{record.fimg,jdbcType=VARCHAR},
      </if>
      <if test="record.fstate != null">
        fstate = #{record.fstate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update flower
    set fid = #{record.fid,jdbcType=INTEGER},
      ftid = #{record.ftid,jdbcType=INTEGER},
      fname = #{record.fname,jdbcType=VARCHAR},
      fdetil = #{record.fdetil,jdbcType=VARCHAR},
      count = #{record.count,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DOUBLE},
      color = #{record.color,jdbcType=VARCHAR},
      creatdate = #{record.creatdate,jdbcType=DATE},
      fimg = #{record.fimg,jdbcType=VARCHAR},
      fstate = #{record.fstate,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zrg.ixd.bean.Flower">
    update flower
    <set>
      <if test="ftid != null">
        ftid = #{ftid,jdbcType=INTEGER},
      </if>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fdetil != null">
        fdetil = #{fdetil,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="creatdate != null">
        creatdate = #{creatdate,jdbcType=DATE},
      </if>
      <if test="fimg != null">
        fimg = #{fimg,jdbcType=VARCHAR},
      </if>
      <if test="fstate != null">
        fstate = #{fstate,jdbcType=INTEGER},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zrg.ixd.bean.Flower">
    update flower
    set ftid = #{ftid,jdbcType=INTEGER},
      fname = #{fname,jdbcType=VARCHAR},
      fdetil = #{fdetil,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      color = #{color,jdbcType=VARCHAR},
      creatdate = #{creatdate,jdbcType=DATE},
      fimg = #{fimg,jdbcType=VARCHAR},
      fstate = #{fstate,jdbcType=INTEGER}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>